<table cellpadding="" cellspacing="5">
    <tr>
        <td class="msg" align="center">
            Sveikiname
        </td>                  
    </tr>
    <tr>
        <td class="input-title" align="center">
            Jus katik sekmingai prisiregistravote prie mūsų sistemos.
        </td>
    </tr>                
</table>