        <td class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="input-title">
                        Jusu <strong>Vardas</strong>
                    </td>
                    <td>
                        <input name="name" class="input rounded-right" value="Jonas"/>
                        <p class="tips">nuo 3 iki 20 raidžių, pvz:<strong>Jonas</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Jūsų <strong>Mob. Nr.</strong>
                    </td>
                    <td>
                        <input name="number" class="input rounded-right" value="37063300000"/>
                        <p class="tips">galite nepilditi, pvz:<strong>37063300000</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button class="submit button button-green rounded">keisti</button>
                    </td>
                </tr>
            </table>