<table cellpadding="0" cellspacing="0" width="440">
    <tr align="center">
        <td class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="msg" align="center">
                        Laiškas
                    </td>                  
                </tr>
                <tr>
                    <td class="input-title" align="center">
                        sėkmingai išsiustas i mūsų sistemą.
                    </td>
                </tr>                
            </table>
        </td>
    </tr>
</table>