<table cellpadding="0" cellspacing="0" width="440">
    <tr>
        <td class="rounded-bottom" id="popup-title">
            Pamiršote slaptažodį?
        </td>
        <td id="popup-hint">
            <div>
                <p class="tips">Jeigu el. paštas yra registruotas svetainėje, tai jum atsiusime laiska su slaptazodziu</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="right" class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="input-title">
                        Jusu <strong>El. Paštas</strong>
                    </td>
                    <td>
                        <input class="input rounded-right" name="email" value="Jonas@pvz.lt"/>
                        <p class="tips">irašykite savo el. pašta, pvz:<strong>Jonas@pvz.lt</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button class="submit button button-green rounded">siūsti</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>