<table class="controlpanel" cellpadding="0" cellspacing="5">
    <tr>
        <td class="ads-more" align="right">
            <strong class="text-control-green">Jonas</strong></br> jūsų slaptažodis atpažintas
        </td>
        <td align="left" width="100">
            <a href="index.php">
                <button class="button rounded">Atsijunkti</button>
            </a>
        </td>
        <td>
            <li class="underlined-blue popup-open" html="changepsw">pakeisti slaptažodį</li>
            <li class="underlined-blue popup-open" html="addad">prideti skelbima</li>
        </td>
        <td width="2" bgcolor="#C4D0CE"></td>
        <td class="ads-more" align="left">
            nustatymai
        </td>
    </tr>
</table>