<div style="padding-left: 15px;" class="ads-date">2011-03-05</div>
<div style="height: 20px; padding-top: 20px;" class="ads-more-title" >
    Darbuotojas gyvuliu ukije (papildomas darbas, puse metu laikotarpiui)
</div>
<hr />


<table cellpadding="0" cellspacing="5" width="420">
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Darbo pobūdis 
        </td>
        <td rowspan="17" bgcolor="#74BA16" align="center" width="1"></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td width="110" align="right" class="ads-category">
            Darbo vieta 
        </td>
        <td class="ads-teaser">
            Darbas Airijoje, galviju fermoje.
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Apie darbą
        </td>
        <td class="ads-teaser">
            Šerti, prižiųrėti, tvarkyti fermą.
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Apgyvendinimas 
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Gyvenimo salygos 
        </td>
        <td class="ads-teaser">
            Atskiras namelis nuo šeimininkų, virtuvė, dušas, toletas, miegamasis.
            Virtuve, dušu, toletu dalintis su dar pora žmonių.
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Atstumas iki darbo vietos 
        </td>
        <td class="ads-teaser">
            30min. važiuojant automobiliu.
        </td>
    </tr>
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Reikalavimai
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Kalba 
        </td>
        <td class="ads-teaser">
           Anglu, Lietuviu, Azeraidziano
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Patirtis 
        </td>
        <td class="ads-teaser">
           Jokios nereikia ne is medzio iskrites.
        </td>
    </tr>
    <tr>
        <td></td>
        <td align="right" class="ads-caregorya-line rounded-right">
            Kontaktai 
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Vardas
        </td>
        <td class="ads-teaser">
            Alfredas
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Tel.
        </td>
        <td class="ads-teaser">
            534653809
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            El. paštas
        </td>
        <td class="ads-teaser">
            alfredas_darzui@gmail.com
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Skype
        </td>
        <td class="ads-teaser">
            alfa1233
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Adresas
        </td>
        <td class="ads-teaser">
            Airija, Dublinas, Blue Roar 123
        </td>
    </tr>
</table>
<hr />

<div class="ads-money">
    <p>105 Lt/men</p><div></div>
</div>