<div style="padding-left: 15px;" class="ads-date"><input name="date" type="text" value="Pvz.:2010-12-15" /></div>
<div style="height: 20px; padding-top: 20px;" class="ads-more-title" >
    <textarea name="title">Pvz.: Darbuotojas gyvuliu ukije (papildomas darbas, puse metu laikotarpiui)</textarea>
</div>
<div style="height: 20px; padding-top: 20px;" class="ads-more-title">
    <textarea name="teaser">Smulkus daro aprasymas</textarea>
</div>
<hr />


<table cellpadding="0" cellspacing="5" width="420">
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Darbo pobūdis 
        </td>
        <td rowspan="17" bgcolor="#74BA16" align="center" width="1"></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td width="110" align="right" class="ads-category">
            Darbo vieta 
        </td>
        <td class="ads-teaser">
            <input name="workplace" value="Pvz.: Darbas Airijoje, galviju fermoje." />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Apie darbą 
        </td>
        <td class="ads-teaser">
            <textarea name="aboutwork">Pvz.: Šerti, prižiųrėti, tvarkyti fermą.</textarea>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Apgyvendinimas 
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Gyvenimo salygos
        </td>
        <td class="ads-teaser">
            <textarea name="livingconditions">Pvz.: Atskiras namelis nuo šeimininkų, virtuvė, dušas, toletas, miegamasis.
            Virtuve, dušu, toletu dalintis su dar pora žmonių.</textarea>
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Atstumas iki darbo vietos 
        </td>
        <td class="ads-teaser">
            <textarea name="workplacedistance">Pvz.: 30min. važiuojant automobiliu.</textarea>
        </td>
    </tr>
    <tr>
        <td align="left" class="ads-caregorya-line rounded-left">
            Reikalavimai
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
             Kalba 
        </td>
        <td class="ads-teaser">
           <input name="language" value="Pvz.: Anglu, Lietuviu, Azeraidziano" />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Patirtis 
        </td>
        <td class="ads-teaser">
           <textarea name="exp">Pvz.: Jokios nereikia ne is medzio iskrites.</textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td align="right" class="ads-caregorya-line rounded-right">
            Kontaktai 
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Vardas
        </td>
        <td class="ads-teaser">
            <input name="name" value="Pvz.: Alfredas" />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Tel.
        </td>
        <td class="ads-teaser">
            <input name="phone" value="Pvz.: 4324532465" />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            El. paštas
        </td>
        <td class="ads-teaser">
            <input name="email" value="Pvz.: as@as.lt" />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Skype
        </td>
        <td class="ads-teaser">
            <input name="skype" value="Pvz.: alfa123" />
        </td>
    </tr>
    <tr>
        <td align="right" class="ads-category">
            Adresas:
        </td>
        <td class="ads-teaser">
            <textarea name="address"> Airija, Dublinas, Blue Roar 123</textarea>
        </td>
    </tr>
</table>
<hr />

<div class="ads-money">
    <textarea name="salary">Pvz.: 105 Lt/men </textarea> <div></div>
</div>
<button class="button button-green rounded submit">Ikelti</button>