<table cellpadding="0" cellspacing="0" width="440">
    <tr>
        <td class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="input-title">
                        Esamas <strong>Slaptažodis</strong>
                    </td>
                    <td>
                        <input name="password" class="input rounded-right" value="Antana"/>
                        <p class="tips">jūsų dabartinis slaptažodis, pvz:<strong>Jonas@pvz.lt</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br /></td>
                </tr>
                <tr>
                    <td class="input-title">
                        Naujas <strong>Slaptažodis</strong>
                    </td>
                    <td>
                        <input name="newpassword" class="input rounded-right" value="Jonoslapt11"/>
                        <p class="tips">nuo 5 iki 15 raidžių ir skaitmenų, pvz:<strong>Jonoslapt11</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Pakartokite <strong>Slaptazodi</strong>
                    </td>
                    <td>
                        <input name="newrepassword" class="input rounded-right" value="Jonoslapt11"/>
                        <p class="tips">prieštai nurodytas slaptažodis, pvz:<strong>Jonoslapt11</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button class="submit button button-green rounded">keisti</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>