@font-face {
    font-family: "MyriadPro";
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: "MyriadPro-i";
    src: url('../fonts/MyriadPro-It.otf');
}

body{
    font-family: Arial;
    background-image: url('../img/pattern-body_bg.png');
    margin: 0px;
    margin-bottom: 15px;
}

#page{
    background-image: url('../img/pattern-page_bg.png');
    width: 960px;
    border: 1px #ADB7D9 solid;
    border-top: none;
}

/*
 
----------------------------------------->ELEMENTS
*/

/*------------Buttons--------------*/

.button{
    height: 25px;
    background-image: url('../img/elements/patterns/pattern-grey.png');
    border: solid 1px #D4D4D4;
    font-size: 13px;
    color: #585858;
    text-shadow: #706f6f 0px 0px 1px;
    cursor: pointer;
}

.button:hover{
    background-image: url('../img/elements/patterns/pattern-grey-hover.png');
}

.button-green{
    background-image: url('../img/elements/patterns/pattern-green.png');
}

.button-green:hover{
    background-image: url('../img/elements/patterns/pattern-green-hover.png');
}

/*------------Rounded--------------*/

.rounded{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.rounded-bottom{
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.rounded-top{
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

.rounded-right{
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

.rounded-left{
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

/*------------Sub--------------*/

.underlined-blue{
    letter-spacing: -1px;
    margin: 0px;
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    color: #7990B4;
    text-shadow: #829ac0 0px 0px 1px;
    list-style: none;
    
}

.underlined-blue:hover{
    text-decoration: underline;
}

.tips{
    margin: 0px;
    font-size: 11px;
    color: #B4B4B4;
    text-shadow: #B4B4B4 0px 0px 1px;
}

.text-green{
    font-weight: normal;
    font-size: 12px;
    color: #5CAD20;
    text-shadow: #5CAD20 0px 0px 1px;
}

/* 
-----------------------------------------<
*/

/* 

-----------------------------------------> HEADER
*/
#header{
    width: 960px;
}

/*------------header_up--------------*/

#header_up{
    height: 169px;
}

/*------------header_up_left--------------*/
#header_up_left{
    float: left;
    width: 250px;
} 

/*------------header_up_mid--------------*/
#header_up_mid{
    float: left;
    width: 530px;
}   

#header_up_mid_up{
    background-image: url('../img/header/fog-header_mid_up_bg.png');
    width: 521px;
    height: 81px;
    background-repeat: no-repeat;
}

#header_up_mid_up div{
    padding-top: 25px;
}

#header_up_mid_up div input{
    background-image: url('../img/header/login/input-login_bg.png');
    width: 189px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #888888;
    font-style: italic;
    text-shadow: #A0A0A0 0px 0px 1px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#header_up_mid_up p{
    margin-right: 100px;
}

#header_up_mid_mid{
    background-image: url('../img/header/fog-header_mid_mid_bg.png');
    width: 521px;
    height: 29px;
}

#header_up_mid_down{
    background-image: url('../img/header/fog-header_mid_up_bg.png');
    width: 521px;
    height: 59px;
    background-repeat: no-repeat;
}

#header_up_mid_down p{
    font-family: MyriadPro;
    color: #878888;
    font-size: 18px;
    text-shadow: #878888 0px 0px 1px;
    margin: 0;
    padding-top: 17px;
}

#header_up_mid_down p strong{
    color: #87C258;
    text-shadow: #87C258 0px 0px 1px;
}

/*------------header_up_right--------------*/
#header_up_right{
    float: left;
}

#worklist_content{
    padding-top: 5px;
}

#worklist_content p{
    margin: 0px;
    width: 110px;
    font-size: 13px;
    text-shadow: #FFFFFF 1px 1px 3px;
    color: #AAB1B3;
    cursor: pointer;
    line-height: 10px;
    padding-bottom: 4px;
}

#worklist_content p:hover{
    color: #FFFFFF;
    text-shadow: #BEBEBE 1px 1px 1px;
    
}

#worklist-fog{
    position: relative;
    top: -54px;
    background-image: url('../img/header/worklist/fog-worklist.png');
    height: 20px;
    width: 154px;
}

#worklist_content table{
    background-color: #FFFFFF;
    border: 1px solid #C7CECE;
    border-top: none;
    color: #788BA9;
    font-size: 13px;
}

#worklist_content td{
    border-top: 1px solid #C7CECE;
}

#worklist_content strong{
    font-weight: normal;
    color: #7BBE13;
    font-size: 15px;
}

#extra-menu{
    text-align: left;
    padding-left: 30px;
    margin-top: 20px;
    font-size: 14px;
    color: #585858;
    text-shadow: #706f6f 0px 0px 1px;
    cursor: pointer;
    letter-spacing: -1px;
}

#extra-menu span{
    margin-left: 5px;
}

/*------------header_down--------------*/
#menu_content{
    width: 958px;
    height: 40px;
}

#menu{
    font-size: 15px;
    background-image: url('../img/header/menu/pattern-menu_bg.png');
    height: 29px;
    border: 1px black solid;
    color: #F1F3F6;
}

.menu_line_up{
    background-image: url('../img/header/menu/line-menu_up.png');
    width: 958px;
    height: 2px;
}

#menu_line_down{
    background-image: url('../img/header/menu/line-menu_down.png');
    width: 958px;
    height: 2px;
}

#menu_home{
    background-image: url('../img/header/menu/button-menu_home.png');
    width: 16px;
    height: 14px;
}

#main_container{
    width: 900px;
    background-color: #FFFFFF;
    border: #E2E9EA 3px solid;
}

.menu_cross_line{
    background-image: url('../img/header/menu/line-menu_crossing.png');
    height: 29px;
    width: 2px;
}

.menu_padding{
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: #000000 1px 1px 2px;
    cursor: pointer;
}

.menu_padding:hover{
    background-image: url('../img/header/menu/pattern-menu_bg_hover.png');
    text-shadow: #000000 -1px -1px 1px;
}

/* 
-----------------------------------------<
*/



/*
 
----------------------------------------->CONTAINER
*/



#container_whole{
    margin-top: 10px;
    background-color: white;
    border: solid 2px #E4E9EF;
    width: 900px;
    border-bottom: none;
}

.container_line_top{
    width: 1px;
    height: 242px;
    background-image: url('../img/container/line-container_vertical_top.png');
    background-repeat: no-repeat;
}

.container_line_mid{
    width: 1px;
    background-color: #D2D2D2;
}

.container_line_bot{
    width: 1px;
    height: 96px;
    background-image: url('../img/container/line-container_vertical_bottom.png');
    background-repeat: no-repeat;
}

/*------------container-left--------------*/


#container-left{
    width: 620px;
    padding-bottom: ;
}



#submenu{
    width: 620px;
    border-bottom: solid 2px #E4E9EF;
    height: 23px;
}

.submenu-category{
    padding-top: 4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    cursor: pointer;
}

.submenu-arrow{
    background-image: url('../img/container/ads/submenu/simbol-submenu_arrow.png');
    width: 19px;
    height: 23px;
    float: left;
}

#pagination{
    text-align: center;
    background-image: url('../img/container/ads/pagination/pattern-pagination_bg.png');
    width: 16px;
    border: 1px solid #000000;
    position: relative;
}

#pagination-content{
    top: 100px;
    float: left;
    position: relative;
    height: 600px;
    width: 20px;
    left: -14px;
}


#pagination-up-arrow{
    margin-top: 2px;
    margin-left: 1px;
    background-image: url('../img/container/ads/pagination/button-pagination_up_arrow.png');
    width: 13px;
    height: 27px;
    cursor: pointer;
}

#pagination-num{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pagination-num{
    font-size: 14px;
    color: #FFFFFF;
    list-style-type: none;
    text-shadow: #FFFFFF 0px 0px 1px;
    cursor: pointer;
}

.pagination-num-active{
    color: #000000;
    text-shadow: #000000 0px 0px 1px;
}

#pagination-down-arrow{
    margin-left: 1px;
    background-image: url('../img/container/ads/pagination/button-pagination_down_arrow.png');
    width: 13px;
    height: 27px;
    cursor: pointer;
    margin-bottom: 5px;
}

#ads{
    width: 600px;
    padding-bottom: 20px;
}

.ads-icon{
    width: 70px;
    height: 84px;
    padding: 20px;
}

.ads-date{
    padding-top: 5px;
    float: left;
    font-size: 11px;
    color: #7088AE;
    font-style: italic;
    text-shadow: #7088AE 0px 0px 1px;
}

.ads-title{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #595959;
    text-shadow: #595959 0px 0px 1px;
}

.ads-more-title{
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #595959;
    text-shadow: #595959 0px 0px 1px;
}

.ads-teaser{
    font-size: 14px;
    color: #7F7E7E;
    text-shadow: #7F7E7E 0px 0px 1px;
}

.ads-category{
    font-size: 12px;
    font-weight: bold;
    color: #595959;
    text-shadow: #595959 0px 0px 1px;    
}

.ads-caregorya-line{
    padding-top: 4px;
    text-align: right;
    padding-right: 20px;
    background-image: url('../img/elements/patterns/pattern-green.png');
    width: 200px;
    height: 22px;
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: #FFFFFF 0px 0px 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ads-money{
    padding-bottom: 5px;
    padding-right: 30px;
}

.symbols{
    margin-left: 5px;
    margin-right: 5px;
}
.ads-money div{
    background-image: url('../img/elements/symbols/symbol-money.png');
    width: 25px;
    height: 25px;
    float: right;
}

.ads-money p{
    font-size: 15px;
    color: #7F7E7E;
    text-shadow: #7F7E7E 0px 0px 1px;
    margin: 3px;
    float: right;
}

.ads-line{
    text-align: right;
    background-image: url('../img/container/ads/line-ads_horizontal.png');
    width: 575px;
    height: 1px;
}

.ads-options{
    margin-left: 18px;
}

.ads-options span{
    margin-right: 10px;
}

.ads-more{
    margin: 0;
    letter-spacing: -1px;
    font-size: 13px;
    color: #595959;
    text-shadow: #595959 0px 0px 1px;
    cursor: pointer;
}

.ads-add{
    letter-spacing: -1px;
    font-size: 13px;
    color: #595959;
    text-shadow: #595959 0px 0px 1px;
    cursor: pointer;
}


/*------------container-right--------------*/

#container-right{
    background-image: url('../img/container/search/fog-search_bg.png');
    width: 270px;
    background-color: #F7FBFA;
    background-repeat: no-repeat;
}

#filter{
    margin-top: 20px;
}

#filter th{
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
}

#filter td{
    background-color: #E5F1EE;
    text-align: center;
    height: 28px;
    border: 1px solid #E3E3E3;
}

.filter-letters{
    width: 119px;
}

.filter-numbers{
    width: 75px;
}

#search_title{
    padding-top: 50px;
    padding-left: 20px;
    position: relative;
    left: 30px;
}

#button-search{
    float: left;
    background-image: url('../img/container/search/button-search.png');
    width: 37px;
    height: 36px;
    cursor: pointer;
    position: relative;
    top: -4px;
}

#search-line{
    padding-top: 4px;
    text-align: right;
    padding-right: 20px;
    background-image: url('../img/elements/patterns/pattern-green.png');
    width: 200px;
    height: 22px;
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: #FFFFFF 0px 0px 1px;
}

.select-title{
    letter-spacing: -1px;
    text-align: right;
    padding-right: 5px;
    font-size: 15px;
    color: #667894;
    text-shadow: #667894 0px 0px 1px;
}

#search table{
    padding-top: 15px;
    padding-left: 10px;
}

/*------------controlpanel--------------*/
.text-control-green{
    margin: 0;
    font-size: 16px;
    color: #5EAE1F;
    font-weight: normal;
}

.controlpanel{
    padding-top: 25px;
    line-height: 14px;
}
/* 
-----------------------------------------<
*/

/*
 
----------------------------------------->FOOTER
*/

#footer{
    height: 35px;
}


/* 
-----------------------------------------<
*/