.popup{
    display: none;
}

#popup_shadow{
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

#popup-content{
    position: absolute;
}

#popup{
    min-height: 50px;
    float: left;
    background-color: #FFFFFF;
    border: 2px solid #989FA0;
    width: 460px;
    padding-bottom: 10px;
}

#popup-title{
    font-size: 17px;
    width: 175px;
    height: 30px;
    background-image: url('../img/elements/patterns/pattern-blue.png');
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 10px;
    text-shadow: #FFFFFF 0px 0px 1px;
}

#popup-hint{
    padding-left: 10px;
}

#popup-close{
    text-shadow: #000000 0px 0px 1px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #BB4B4B;
    border-left: none;
    float: left;
    position: relative;
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FF6464;
}

/*
------------------------------->REGISTRATION
*/

.popup-content-holder{
    padding: 5px;
}

.popup-content-holder table{
    padding-top: 20px;
}

.input-title{
    text-align: right;
    font-size: 13px;
    color: #858585;
    text-shadow: #858585 0px 0px 1px;
}

.input{
    outline: none;
    font-size: 15px;
    font-style: italic;
    color: #5CAD20;
    text-shadow: #5CAD20 0px 0px 1px;
    padding: 7px;
    width: 250px;
    border: 1px solid #989FA0;
}

.textarea{
    outline: none;
    font-size: 15px;
    font-style: italic;
    color: #5CAD20;
    text-shadow: #5CAD20 0px 0px 1px;
    padding: 7px;
    width: 275px;
    max-width: 275px;
    max-height: 300px;
    height: 300px;
    border: 1px solid #989FA0;
}

.popup-content-holder .tips strong{
    font-size: 11px;
    color: #7990B4;
    text-shadow: #829ac0 0px 0px 1px;
}

.red{
    color: #FF6464;
}

/*
------------------------------->SUCCESS
*/
.msg{
    font-size: 28px;
    color: #5CAD20;
    text-shadow: #5CAD20 0px 0px 1px;
}

/*
-------------------------------<
*/
