.whole_select{
    width: 158px;
}

.grey_box{
    background-image: url('../img/header/menu/pattern-menu_bg.png');
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.grey_box:active{
    background-image: url('../img/header/menu/pattern-menu_bg_hover.png');
}

.symbol-show{
    background-image: url('../img/elements/symbols/symbol-show.png');
    width: 13px;
    height: 7px;
    margin-top: 8px;
    margin-left: 5px;
}

.white_box{
    float: left;
    font-size: 12px;
    width: 130px;
    text-align: right;
    height: 20px;
    margin-top: 3px;
    margin-right: 6px;
    font-style: italic;
    color: #ACABAB;
    text-shadow: #ACABAB 0px 0px 1px;
    
}

.select_string{
    height: 24px;
    float: left;
    width: 160px;
    border: 1px #D4DEE6 solid;
    background-color: #FFFFFF;
}

.selects{
    display: none;
    border-top: 1px #D4DEE6 solid;
    width: 130px;
    margin-left: 8px;
    position: absolute;
    top: 20px;
}



.selects li{
    font-size: 14px;
    list-style: none;
    text-align: center;
    color: #878787;
    border: 1px #D4DEE6 solid;
    border-top: none;
    background-color: #E5F1EE;
}

.selects li:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    
}

