<table cellpadding="0" cellspacing="0" width="440">
    <tr>
        <td class="rounded-bottom" id="popup-title">
            Susisiekite
        </td>
        <td id="popup-hint">
            <div>
                <p class="tips">Galite užduoti klausimą ar sužinoti platesnę informaciją užpildydami reikiamus laukelius.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td align="right" class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="input-title">
                        Jūsų <strong>Klausimas</strong>
                    </td>
                    <td>
                        <textarea name="quest" class="rounded-right textarea">Galetumete placiau paaiskinti kur pas jusu galeciau isideti reklama?</textarea>
                        <p class="tips">irašykite dominantį klausimą</p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Jūsų <strong>Kontaktai</strong>
                    </td>
                    <td>
                        <input style="width: 275px" name="email" class="input rounded-right" value="Jonas@pvz.lt"/>
                        <p class="tips">Jeigu nesate prisiregistravęs nurodykite savo el. paštą</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button class="submit button button-green rounded">siūsti</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>