<table cellpadding="0" cellspacing="0" width="440">
    <tr>
        <td class="rounded-bottom" id="popup-title">
            Registracija
        </td>
        <td id="popup-hint">
            <div>
                <p class="tips">Jei norite prisiregistruoti turite užpildyti visus laukelius, iskyrus mob. nr.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="popup-content-holder" colspan="2">
            <table cellspacing="5">
                <tr>
                    <td class="input-title">
                        Jusu <strong>Vardas</strong>
                    </td>
                    <td>
                        <input name="name" class="input rounded-right" value="Jonas"/>
                        <p class="tips">nuo 3 iki 20 raidžių, pvz:<strong>Jonas</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Jūsų <strong>Mob. Nr.</strong>
                    </td>
                    <td>
                        <input name="number" class="input rounded-right" value="37063300000"/>
                        <p class="tips">galite nepilditi, pvz:<strong>37063300000</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Jūsų <strong>El. Paštas</strong>
                    </td>
                    <td>
                        <input name="email" class="input rounded-right" value="Jonas@pvz.lt"/>
                        <p class="tips">jūsų naudojamas el. paštas, pvz:<strong>Jonas@pvz.lt</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Pasirinktas <strong>Slaptažodis</strong>
                    </td>
                    <td>
                        <input name="password" class="input rounded-right" value="Jonoslapt11"/>
                        <p class="tips">nuo 5 iki 15 raidžių ir skaitmenų, pvz:<strong>Jonoslapt11</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="input-title">
                        Pakartokite <strong>Slaptazodi</strong>
                    </td>
                    <td>
                        <input name="repassword" class="input rounded-right" value="Jonoslapt11"/>
                        <p class="tips">prieštai nurodytas slaptažodis, pvz:<strong>Jonoslapt11</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button class="submit button button-green rounded">registruotis</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>